@import '../../assets/scss/imports.scss';

[data-component='header'] {
  background: $blue-light;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 0 60px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);

  .logo {
    margin: 0;
  }

  a {
    display: block;
    font-size: 0;
  }

  img {
    width: 200px;
  }
}
