// GLOBAL THEME VARIBLES

// FONT
$main-font: 'Poppins', sans-serif;

// COLOR
$black: #000;
$white: #fff;

$red: #b90000;
$blue: #2e4582;
$grey: #8b92a9;
$grey2: #9095a2;
$blue-dark: #1e1e2f;
$blue-light: #27293d;
