<form data-component="add-survivor" id="addSurvivorForm" [formGroup]="addSurvivorForm">
  <div class="form-field">
    <label for="name">Nome</label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div class="form-field">
    <label for="age">Idade</label>
    <input type="number" id="age" formControlName="age">
  </div>

  <!-- <div class="form-field">
    <label for="gender">Gênero</label>
    <input type="text" id="gender" formControlName="gender">
  </div> -->
  <div class="form-field">
    <label for="gender">Gênero</label>
    <div class="radio-group">
      <label class="radio-label" for="male">Masculino</label>
      <input type="radio" value="M" formControlName="gender" id="male">
    </div>
    <div class="radio-group">
      <label class="radio-label" for="female">Feminino</label>
      <input type="radio" value="F" formControlName="gender" id="female">
    </div>
  </div>

  <div class="form-field">
    <label for="lonLat">Longitude e latidude</label>
    <input type="text" id="lonLat" formControlName="lonlat">
  </div>

  <div class="form-field">
    <label for="items">Items</label>
    <input type="text" id="items" formControlName="items">
  </div>

  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="styles">
    <agm-marker class="marker" [latitude]="lat" [longitude]="lng" (dragStart)="dragStart($event)"
      (dragEnd)="dragEnd($event)" [markerDraggable]="true"></agm-marker>
  </agm-map>

  <button type="submit" (click)="onSubmit()">submit</button>
</form>
