<main data-component="dashboard">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Zombie Survival Network</h1>
      </div>
      <div class="col">
        <h1>Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Survivors</h2>
        <ul *ngIf="survivors">
          <li *ngFor="let survivor of survivors">{{ survivor.name }}</li>
        </ul>
        <div class="loader" *ngIf="!survivors">
          Loading...
        </div>
      </div>
    </div>
  </div>
</main>
