<main data-component="dashboard">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Zombie Survival Network</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Survivors List</h2>
        <div class="survivors">
          <app-survivor *ngFor="let survivor of survivors" [person]="survivor"></app-survivor>
        </div>
        <div class="loader" *ngIf="!survivors">
          Loading...
        </div>
      </div>

      <div class="col">
        <app-add-survivor></app-add-survivor>
      </div>
    </div>
  </div>
</main>
